.card__shadow{
    cursor: pointer;
    background-color: snow;
    box-shadow: 7px 7px 8px 0px rgba(235,233,233,0.91);
    -webkit-box-shadow: 7px 7px 8px 0px rgba(235,233,233,0.91);
    -moz-box-shadow: 7px 7px 8px 0px rgba(235,233,233,0.91);
}
.card__shadow:hover{
    transform: scale(1.01);
}